<html>
    <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <script src="../js/main.js"></script>
    </head>
    <body>
        <div id="fondo">
            <div id="wrapForm">
                <h2> ... se ha cerrado la sesión con éxito </h2>
                <li> <a href="/login"><span id="menu">Iniciar sesión</span></a> </li>
                <li> <a href="/register"><span id="menu">Registrarse</a> </li>
            </div>
        </div>
    </body>
</html>