<html>
    <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <script src="../js/main.js"></script>
    <script src="../js/autentication.js"></script>
    </head>
    <body>
        <div id="fondo">
            <div id="wrapForm">
            <h2 style="color:red"> ERROR !! </h2>
            <h4> Su usuario y contraseña no se encuentra en la base de datos, intentelo de nuevo o registrese </h4>
            <a href="/login">login</a>
            <a href="/register">register</a>
            </form>
            </div>
        </div>
    </body>
</html>
