<html>
    <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <script src="../js/main.js"></script>
  </head>
    <body>
    <h1 id="headerLogin"> Formulario de registro </h1>
    <div id="fondo">
        <div id="wrapForm">
            <form method="POST" action="">
            <input name="username" id="username"> </input>
            <br>
            <br>
            <input type="password" name="password" id="password"> </input>
            <br>
            <br>
            <button id="loginButton"> Registrarme </button>
            </form>
        </div>
    </div>
    </body>
</html>
