

  <meta charset="utf-8">
  <title>Conversor</title>
  <meta name="description" content="Conversor de medidas">
 
   
  <!-- Mobile Specific Metas-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/normalize.css" type="text/css">
   <link rel="stylesheet" href="/css/global.css" type="text/css">
  <!-- FONT-->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!--XRegExp-->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xregexp/2.0.0/xregexp-all-min.js"></script>

  <script type="text/javascript" src="/js/main.js"></script>
  <script type="text/javascript" src="/js/medida.js"></script>
  <script type="text/javascript" src="/js/temperature.js"></script>
  <script type="text/javascript" src="/js/autentication.js"></script>
