<!DOCTYPE html>
<html lang="es">
  <head>
    <% include head %>
  </head>
<!-- onLoad es un evento que se ejecuta cuando se ha cargado la etiqueta -->
<body onLoad="checkIfUserIsLoged()">
<div class="container">
    <h1>Conversor de Temperatura</h1>
    <div class="seccion_central">
      <p>Bienvenido, <span id="username" name="username"></span>
      
      <form action="add" method="post">
          <label>Introduzca temperatura:</label>
          <input id="convert"  name="inicial" autofocus onchange="main();" placeholder="0K" size="15" />
          <br /><br /><label>Temperatura convertida:</label>
          <span id="converted" name="converted"></span>
      </form>
      
     <h1>Temperatura convertidas:</h1>
      <ul>
        <% for (temperatura in temperaturas) { %>
          <li><p><%=temperaturas[temperatura].inicial%> -> <a href="delete/<%=temperaturas[temperatura].id%>">Eliminar</a></p></li>
        <% } %>
      </ul>
    </div>
 </div>
<% include foot %>