<html>
    <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <script src="../js/main.js"></script>
    </head>
    <body>
        <div id="fondo">
            <div >
                <h2> 
                    <div class="letra"> 
                        <span style="color:blue"> 
                            <font style="text-transform: capitalize;"> <%= username %> </font>
                        </span> 
                        , usted ya ha iniciado sesión, ya puede ver el contenido en el siguiente enlace 
                    </div>
                </h2>
                <a href="/index"> Ir al conversor </a>
            </div>
        </div>
    </body>
</html>
