<html>
 <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/global.css">
    <script src="../js/main.js"></script>
  </head>
<body>
    <h1 id="headerLogin">Login Temperatura</h1>
    <br>
    <div id="fondo">
        <div id="wrapForm">
            <form method="POST" action="/login">
            <label for="username"></label>
            <input type="text" name="username" id="username" placeholder="Usuario"/>
            <p id="emptyUsername" class="errorInfo">* Campo obligatorio</p>
            <br><br>
            <label for="password"></label>
            <input type="password" id="password" name="password" placeholder="Password" />
            <p id="emptyPassword" class="errorInfo">* Campo obligatorio</p>
            <br><br>
            <button type="submit" id="loginButton"> Iniciar sesión </button>
            <li> <a href="/"> Ir a inicio </a> </li>
        </div>
    </div>
  </body>
</html>
