<html>
    <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <script src="../js/main.js"></script>
    </head>
    <body>
        <div id="fondo">
            <div id="wrapForm">
                <ul>
                  <li> <a href="/login"><span id="menu">Log In</span></a> </li>
                  <li> <a href="/logout"><span id="menu">Log Out</span></a> </li>
                  <li> <a href="/register"><span id="menu">Sign Up</a> </li>
                </ul>
            </div>
        </div>
    </body>
</html>
