<html>
    <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <script src="../js/main.js"></script>
    </head>
    <body>
        <div id="fondo">
            <div id="wrapForm">
                <h2> <div class="letra"> <span style="color:#559ec9"> <font style="text-transform: capitalize;"> <%= username %> </font></span> ... you have registered successfully </div></h2>
                <br>
                <a href="/login"> go to login </a>
            </div>
        </div>
    </body>
</html>
