<html>
    <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <script src="../js/main.js"></script>
    </head>
    <body>
        <div id="fondo">
            <div id="wrapForm">
            <h2> <div class="letra"> <span style="color:blue"> <font style="text-transform: capitalize;"> <%= username %> </font></span> ... te has registrado con exito </div></h2>
            <br>
        <a href="/login"> Ir al login </a>
    </body>
</html>
